<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <table>
      <tbody>
        <tr> 
          <td>
          <div class='streaming'>
            <table border = "2">
              <thead>
                  <tr>
                      <th colspan="2"><h1>Video Streaming</h1></th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td><h1>RGB Streaming Demonstration</h1></td>
                      <td><h1>Thermal Streaming Demonstration</h1></td>
                  </tr>
                  <tr> 
                    <td>
                      <div class='right'>
              
                        <img src="{{ url_for('rgb') }}">
                      </div>
                    </td>
                  <td>
                    <div class='left'>
                    
                      <img src="{{ url_for('th') }}">
                    </div>
                  </td>
                </tr>
              </tbody>
          </table>
        
          </div>
        </td>
        <td>
          <div class='info'>
          <table border = "2">
            <thead>
              <tr>
                  <th colspan="2"><h1>Info</h1></th>
              </tr>
          </thead>    
            <tbody>
              <tr>
                <td><div>時間 </div></td>
                <td><div id='Time'></div></td>
                
              </tr>
              <tr>
                <td><div>環境溫度</div></td>
                <td><div id='Temperatue'>40</div> </td>
                
              </tr>
              <tr>
                <td><div>環境濕度</div></td>
                <td><div id='Humidity'>40</div> </td>
                
              </tr>
              <tr>
                <td><div>熱像儀溫度</div></td>
                <td><div id='Thermal'>40</div> </td>
                
              </tr>
              <tr>
                <td><div>氣候溫度</div></td>
                <td><div id='Weaher_Temperatue'>40</div> </td>
                
              </tr>
              <tr>
                <td><div>氣候濕度</div></td>
                <td><div id='Weaher_Humidity'>40</div> </td>
                
              </tr>

            
            </tbody>
          </table>
          </div>
        </td>
        </tr>
      </tbody>
</table>
  </body>
</html>

<script type="text/javascript">
  function get_sensor() {
            var req = new XMLHttpRequest();
            req.open('GET', '/api/sensor');
            req.onreadystatechange = function () {
                if (req.readyState === 4) {
                    var result = JSON.parse(req.responseText);
                    document.getElementById('Humidity').innerHTML = result.Humidity;
                    document.getElementById('Temperatue').innerHTML = result.Temperatue;
                    document.getElementById('Time').innerHTML = result.Time;
                }
            };
            req.send();
        }
  function get_weather() {
      var req = new XMLHttpRequest();
      req.open('GET', '/api/weather');
      req.onreadystatechange = function () {
          if (req.readyState === 4) {
              var result = JSON.parse(req.responseText);
              document.getElementById('Weaher_Humidity').innerHTML = result.Humidity;
              document.getElementById('Weaher_Temperatue').innerHTML = result.Temperatue;
              
          }
      };
      req.send();
  }
  function get_th_temp() {
      var req = new XMLHttpRequest();
      req.open('GET', '/api/th_temp');
      req.onreadystatechange = function () {
          if (req.readyState === 4) {
              var result = JSON.parse(req.responseText);
              
              document.getElementById('Thermal').innerHTML = result.Temperatue;
              
          }
      };
      req.send();
  }
  function repeatedly_get() {
            get_sensor();
            get_weather();
            get_th_temp();
            setTimeout(repeatedly_get, 1000);
        }
  repeatedly_get();
</script>